<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodsellappproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.manage.ModifyProductActivity"></activity>
        <activity android:name=".controller.manage.AddNewProductActivity" />
        <activity android:name=".controller.manage.ManageUserActivity" />
        <activity android:name=".controller.manage.ManageProductActivity" />
        <activity android:name=".controller.manage.ViewProductDetailActivity" />
        <activity android:name=".controller.manage.ManageDetailedOrderActivity" />
        <activity android:name=".controller.manage.ManageOrderActivity" />
        <activity android:name=".controller.manage.AdminActivity" />
        <activity
            android:name=".controller.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".controller.SignupActivity" />
        <activity android:name=".controller.LoginActivity" />
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.StartedService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>